# Neon Database (PostgreSQL)
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Uploadthing
UPLOADTHING_SECRET=sk_live_...
UPLOADTHING_APP_ID=...

# Next Auth (optional but recommended)
NEXTAUTH_SECRET=...
NEXTAUTH_URL=http://localhost:3000
